/* ::::: http://mawuli.me/css/reset.css ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
nav ul { list-style: none outside none; }
a { margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
body { font: 13px/1.231 sans-serif; }
body, select, input, textarea { color: rgb(68, 68, 68); }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
html { overflow-y: scroll; }
a:hover, a:active { outline: medium none; }
a, a:active, a:visited { color: rgb(96, 120, 144); }
a:hover { color: rgb(0, 51, 102); }
ul, ol { margin-left: 1.8em; }
nav ul, nav li { margin: 0px; }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(96, 120, 144); color: rgb(255, 255, 255); text-shadow: none; }
a:link {  }
.clearfix:before, .clearfix:after { content: " "; display: block; height: 0px; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix {  }
@media all and (orientation: portrait) {
}
@media all and (orientation: landscape) {
}
@media screen and (max-device-width: 480px) {
}

@media print {
  * { background: none repeat scroll 0% 0% transparent ! important; color: black ! important; text-shadow: none ! important; filter: none ! important; }
  a, a:visited { color: rgb(68, 68, 68) ! important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid rgb(153, 153, 153); page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

